<%= form_for task, remote: true, html: {"data-priority" => task.priority } do |f| %>
  priority : <span class="task-priority" id=<%= "task-priority-#{task.id}" %>><%= "#{task.priority}" %></span>
  <% if not task.complete %>
    <%= render partial: 'tasks/up_down', locals: {task: task} %>
  <% end %>
  <%= f.check_box :complete, checked: task.complete ? true : false %>
  <%= f.label :complete, task.name %>
  <%= " (#{task.completed_at.strftime("%Y-%m-%d")})" if not task.completed_at.nil? %>
  <%= f.submit "Update" %>
  <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, task, method: :delete, remote: true, class: "pull-right delete-link" %>
<% end %>