<!DOCTYPE html>
<html>
<head>
  <title>Daily6things</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="apple-touch-icon" href="/icon.png"/>
  <link rel="shortcut icon" href="/icon.png" />
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <h1><%= @date %></h1>
    </header>
    <%= yield %>
  </div>
</body>
</html>
